<%- include('components/header') %>
	<div class="main main-white mian-pay">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 order-list">
					<div class="logout">
						<div class="tag-left"><span>用户名：<%= username %></span></div><div class="tag-right"><a href="/logout">登出</a></div>
					</div>
					<div class="alert-div orderlist">
					    <a href="#" class="close">
					        &times;
					    </a>
					    <strong>警告！</strong><span class="tips-text"><%= error %></span>
					</div>
					<% orders.forEach(function(order){ %>
					<div class="order-detail">
						<div class="order-operator">
							<span class="ordernum-text">订单号：<span class="order-num"><%= order.oid %></span></span><span class="order-cancel"><a href="#">取消订单</a></span><span class="tag-right">失效时间：<span class="order-disabletime"><%= order.disabletime %></span></span>
						</div>
						<table>
							<% order.books.forEach(function(book){ %>
							<tr><td class="td_name"><%= book.name %></td><td class="td_cost">￥<%= book.price %></td><td class="td_num">x <%= book.num %></td><td class="td_amout">￥<%= book.bookamount %></td></tr>
							<% }); %>
						</table>
						<div class="amount-order tag-right">总价：<span class="amount-cost">￥<%= order.amount %></span><button class="btn-checkout"><a href="/pay/<%= order.oid %>">结账</a></button>
						</div>
					</div>
					<% }) %>
				</div>

			</div>
		</div>
	</div>
<%- include('components/footer') %>